body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #999;
  letter-spacing: 1px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.game-grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 128px);
  grid-template-rows: repeat(4, 128px);
}

header {
  margin-bottom: 50px;
  font-size: 40px;
}

img {
  display: block;
  max-width: 114px;
  max-height: 114px;
  width: 80%;
  cursor: pointer;
}

img[data-done] {
  cursor: default;
}

img[src='./images/placeholder.png'] {
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

img[src='./images/placeholder.png']:hover,
img[src='./images/placeholder.png']:focus {
  opacity: 0.8;
}

img[src='./images/placeholder.png']:active {
  opacity: 1;
}

output {
  font-weight: 500;
}

@media (max-width: 512px) {
  .container {
    padding: 10px;
  }

  .game-grid {
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: repeat(4, auto);
  }

  header {
    font-size: 20px;
  }
}
